.header {
    background-color: rgb(14, 36, 240);
}

.title {
    color: rgb(255, 255, 255);
    text-align: center;    
}

.card {
    background-color: rgb(83, 176, 230);
    border-radius: 8px;
    padding: 10px;
    line-height: 1.5;
    min-width:325px;
    margin-top: 40px;
    width: 800px;
    height: 100px;
}

.imagem {
    margin: auto;
    display: block;
    display: flex;
}