.header {
    background-color: rgb(14, 36, 240);
    height: 100px;
}

.title {
    color: rgb(255, 255, 255);
    text-align: center;    
}

.card {
    background-color: rgb(83, 176, 230);
    border-radius: 8px;
    padding: 10px;
    line-height: 1.5;
    min-width:325px;
    margin-top: 40px;
    width: 800px;
    height: 100px;
}

div.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.img img {
    display: block;
    margin: 0 auto;
}
