.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(212, 39, 39);
}

.title {
    color: rgb(250, 246, 0);
    text-align: center;
    
}

.card {
    height: 100px;
    display: block;
    flex-basis: 25%;
    width: 500px;
    background-color: rgb(238, 179, 17);
}

.card2 {
    height: 100px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(209, 41, 19);
}

.card3 {
    height: 100px;
    width: 500px;
    background-color: rgb(95, 243, 51);
}

.main {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}



.footer {
    background-color: rgb(248, 169, 224);
    text-align: center;
    width: 500%;
    height: 100px;
    
}



